.header{
  text-align: center;
  background-color: #5cca47;
  padding: 10px;
}
.header h1{
  font-size: 40px;
  color: #212121;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.main h2{
  font-size: 30px;
}
.main p{
  font-size: 20px;
  text-align: left;
}
.turno{
  text-align: center;
}
.tabuleiro{
  display: flex;
  flex-direction: column;
}
.linha{
  display: flex;
}
.coluna{
  width: 200px;
  height: 200px;
  background-color: #badfab;
  border: 3px solid #5cca47;
  display: inline-flex;
}
.coluna button{
  display: flex;
	justify-content: center;
	font-style: italic;
	font-size: 8em;
	color: #212121;
	background-color: #badfab;
	text-align: center;
	padding: 0;
  width: 195px;
	height: 196px;
	align-items: center;
	box-sizing: unset;
}
.coluna button[value='2']{
  color:#408433;
}
.sidebar {
  width: 300px;
  padding-left: 30px;
}
.sidebar h2, .sidebar h3{
  text-align: center;
}
.placar {
  border: 3px solid #fff;
  padding: 0 15px 20px 15px;
  color: #212121;
  background-color: #5cca47;
}
.controles {
  display: flex;
  justify-content: space-between;
}