.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.turno{
  text-align: center;
}
.tabuleiro{
  display: flex;
}
.coluna{
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}
.sidebar {
  width: 300px;
  padding-left: 30px;
}
.sidebar h2, .sidebar h3{
  text-align: center;
}
.placar {
  border: 1px solid #000;
  padding: 0 15px 20px 15px;
}
.controles {
  display: flex;
  justify-content: space-between;
}